In [1]:
import pandas as pd

#Read all datasets#

In [2]:
data_allforms_training = pd.read_csv('all_forms_PROACT_training.txt', sep='|', header=0, dtype={"feature_value":str, "feature_unit":str}, low_memory = False)
data_allforms_training2 = pd.read_csv('all_forms_PROACT_training2.txt', sep='|', header=0, dtype={"feature_value":str, "feature_unit":str}, low_memory = False)
data_allforms_leaderboard = pd.read_csv('all_forms_PROACT_leaderboard_full.txt', sep='|', header=0, dtype={"feature_value":str, "feature_unit":str}, low_memory = False)
data_allforms_validation = pd.read_csv('all_forms_PROACT_validation_full.txt', sep='|', header=0, dtype={"feature_value":str, "feature_unit":str}, low_memory = False)

In [3]:
data_allforms = pd.concat([data_allforms_training, data_allforms_training2, data_allforms_leaderboard, data_allforms_validation])

In [4]:
print(len(data_allforms["SubjectID"].unique()))

10723

#Demographic#

In [5]:
data_allforms_copy = data_allforms.copy()
data_allforms_copy.query('form_name =="Demographic"', inplace=True)

In [6]:
Age = data_allforms_copy[data_allforms_copy.feature_name=='Age'][['SubjectID', 'feature_value']].rename(columns={"feature_value":"Age"})
Gender = data_allforms_copy[data_allforms_copy.feature_name=='Gender'][['SubjectID', 'feature_value']].rename(columns={"feature_value":"Gender"})
Race = data_allforms_copy[data_allforms_copy.feature_name=='Race'][['SubjectID', 'feature_value']].rename(columns={"feature_value":"Race"})

In [7]:
demographic = Age.merge(Gender).merge(Race)
demographic

      SubjectID               Age Gender     Race
0           329                38      F    Black
1           533                65      F    White
2           649                48      F    White
3           708                46      M    White
4           902              76.8      F  Unknown
...         ...               ...    ...      ...
8641     996808                53      M    White
8642     997367                43      M    White
8643     997496                51      M    White
8644     998261  63.1671232876712      M    White
8645     999929                56      M    White

[8646 rows x 4 columns]

In [8]:
print(len(demographic["SubjectID"].unique()))

8646

In [9]:
demographic.set_index("SubjectID", inplace=True)
demographic.to_csv("demographic.csv")

#ALSFRS#

In [26]:
data_allforms_copy2 = data_allforms.copy()
data_allforms_copy2.query('form_name =="ALSFRS"', inplace=True)

#Exclude duplicates#

In [29]:
alsfrs_long = data_allforms_copy2.drop_duplicates(["feature_delta", "feature_value"])
alsfrs_long

,SubjectID,form_name,feature_name,feature_value,feature_unit,feature_delta
50252,329,ALSFRS,Q1_Speech,4,NaN,0
50253,329,ALSFRS,Q1_Speech,4,NaN,8
50254,329,ALSFRS,Q1_Speech,4,NaN,16
50255,329,ALSFRS,Q1_Speech,4,NaN,42
50256,329,ALSFRS,Q1_Speech,4,NaN,72
...,...,...,...,...,...,...
259621,956843,ALSFRS,respiratory_R,8,NaN,791
259622,956843,ALSFRS,respiratory_R,6,NaN,853
259862,972182,ALSFRS,respiratory_R,11,NaN,828
259863,972182,ALSFRS,respiratory_R,10,NaN,933
259864,972182,ALSFRS,respiratory_R,11,NaN,968

In [31]:
df1 = alsfrs_long[['SubjectID', 'feature_value', 'feature_unit', 'feature_delta']]
df2 = alsfrs_long[['SubjectID', 'feature_name', 'feature_delta']]
df3 = df2.pivot(index='SubjectID', columns='feature_name', values='feature_delta')
alsfrs_wide = df3.merge(df1)

ValueError: Index contains duplicate entries, cannot reshape