In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
p_alsfrs_3mo = pd.read_csv('p_alsfrs_total_3mo_meta_slope.csv')
p_fvc_3mo = pd.read_csv('p_fvc_3mo_meta.csv')
p_svc_3mo = pd.read_csv('p_svc_3mo_meta.csv')
p_vitals_stat = pd.read_csv('p_vitals_stat.csv')
p_weight_stat = pd.read_csv('p_weight_stat.csv')
p_bmi_stat = pd.read_csv('p_bmi_stat.csv')

In [3]:
p_time_res = pd.DataFrame(columns=['SubjectID'])
time_res_list = [p_alsfrs_3mo, p_fvc_3mo, p_svc_3mo, p_vitals_stat, p_weight_stat, p_bmi_stat]
for i in time_res_list :
    df = i
    p_time_res = p_time_res.merge(df, on='SubjectID', how='outer')

In [4]:
p_time_res = p_time_res.replace(0, np.NaN)
p_time_res

,SubjectID,alsfrs_total_slope,mean_alsfrs_total,min_alsfrs_total,max_alsfrs_total,fvc_slope,fvc_mean,fvc_min,fvc_max,svc_slope,...,bp_d_slope,bp_s_slope,pulse_slope,resp_rate_slope,temp_slope,mean_weight,max_weight,min_weight,slope_weight,mean_BMI
0,100933,0.056604,28.500000,27.0,30.0,-0.018868,61.5,61.0,62.0,NaN,...,NaN,NaN,0.072289,-0.024096,0.001205,79.000000,80.1,78.0,-0.022642,0.002534
1,101247,NaN,25.000000,25.0,25.0,NaN,81.0,81.0,81.0,NaN,...,NaN,NaN,NaN,NaN,NaN,60.400000,60.4,60.4,NaN,0.002359
2,10456,NaN,36.000000,36.0,36.0,NaN,89.0,89.0,89.0,NaN,...,NaN,NaN,NaN,NaN,NaN,93.300000,93.3,93.3,NaN,0.002640
3,10517,-0.018519,21.500000,21.0,22.0,-0.592593,75.0,59.0,91.0,NaN,...,-0.023810,0.011905,0.130952,0.023810,-0.010714,66.266667,68.0,63.5,-0.083333,0.002794
4,106943,-0.056122,31.666667,30.0,33.0,NaN,NaN,NaN,NaN,NaN,...,0.095238,-0.095238,0.142857,NaN,-0.009524,79.166667,79.4,78.9,-0.011905,0.002733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,964941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,80.300000,80.3,80.3,NaN,0.002540
581,982136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,59.500000,59.5,59.5,NaN,NaN
582,993802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.164835,-0.241758,-0.032967,0.021978,0.003297,115.100000,115.5,114.7,0.008791,NaN
583,999117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,91.300000,91.3,91.3,NaN,NaN
584,999761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.131868,-0.142857,-0.021978,-0.043956,0.001099,91.350000,91.6,91.1,-0.005495,NaN

Replace NaN to most frequent value of each column(Static data)

In [5]:
p_static = pd.read_csv('p_static_features.csv')
p_static

,SubjectID,Age,Gender,Race,family_ALS_hist,diag_delta,onset_delta,onset_site,if_use_Riluzole,treatment_group
0,586,63.0,M,White,NaN,-507.0,-715.0,Bulbar,No,NaN
1,2416,73.0,M,White,NaN,-633.0,-878.0,Bulbar,No,NaN
2,4205,39.0,M,White,NaN,-429.0,-549.0,Limb,Yes,Active
3,4429,57.0,M,White,NaN,-128.0,-340.0,Limb,Yes,Active
4,5773,60.0,M,White,NaN,-231.0,-587.0,Bulbar,Yes,NaN
...,...,...,...,...,...,...,...,...,...,...
594,988743,65.0,M,White,N,-61.0,-260.0,Other,Yes,Placebo
595,992259,52.0,M,White,N,-345.0,-450.0,Bulbar,Yes,Placebo
596,993802,55.0,M,White,NaN,-318.0,-742.0,Limb,No,Active
597,999117,55.0,M,White,NaN,-80.0,-537.0,Limb,Yes,Placebo
598,999761,62.0,M,White,NaN,-201.0,-717.0,Limb,Yes,Active

In [6]:
imp1 = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')

In [7]:
p_static1 = pd.DataFrame(imp1.fit_transform(p_static), columns = p_static.columns, index=p_static)

In [8]:
p_static1.to_csv('p_static_without_nan.csv')

Combine all the features into 1 dataframe

In [9]:
p_features_combined = p_static1.merge(p_time_res, on='SubjectID', how='outer')

In [10]:
p_features_without_nans = p_features_combined.fillna(p_features_combined.mean())
p_features_without_nans

,SubjectID,Age,Gender,Race,family_ALS_hist,diag_delta,onset_delta,onset_site,if_use_Riluzole,treatment_group,...,bp_d_slope,bp_s_slope,pulse_slope,resp_rate_slope,temp_slope,mean_weight,max_weight,min_weight,slope_weight,mean_BMI
0,586,63.0,M,White,N,-507.0,-715.0,Bulbar,No,Placebo,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,61.800000,61.800000,61.800000,-0.010689,0.002113
1,2416,73.0,M,White,N,-633.0,-878.0,Bulbar,No,Placebo,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,78.266003,79.114465,77.307966,-0.010689,0.002663
2,4205,39.0,M,White,N,-429.0,-549.0,Limb,Yes,Active,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,69.500000,69.500000,69.500000,-0.010689,0.002663
3,4429,57.0,M,White,N,-128.0,-340.0,Limb,Yes,Active,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,61.000000,61.000000,61.000000,-0.010689,0.002663
4,5773,60.0,M,White,N,-231.0,-587.0,Bulbar,Yes,Placebo,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,92.800000,92.800000,92.800000,-0.010689,0.002557
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,988743,65.0,M,White,N,-61.0,-260.0,Other,Yes,Placebo,...,0.082192,0.273973,-0.082192,0.010464,-0.006849,66.775000,68.300000,65.100000,0.043836,0.002391
595,992259,52.0,M,White,N,-345.0,-450.0,Bulbar,Yes,Placebo,...,-0.138889,-0.027778,0.027778,0.027778,0.015278,88.300000,89.200000,86.600000,-0.034722,0.002442
596,993802,55.0,M,White,N,-318.0,-742.0,Limb,No,Active,...,-0.164835,-0.241758,-0.032967,0.021978,0.003297,115.100000,115.500000,114.700000,0.008791,0.002663
597,999117,55.0,M,White,N,-80.0,-537.0,Limb,Yes,Placebo,...,-0.013690,-0.032618,0.031483,0.010464,-0.001051,91.300000,91.300000,91.300000,-0.010689,0.002663
598,999761,62.0,M,White,N,-201.0,-717.0,Limb,Yes,Active,...,0.131868,-0.142857,-0.021978,-0.043956,0.001099,91.350000,91.600000,91.100000,-0.005495,0.002663

In [11]:
p_features_without_nans.to_csv('p_features_combined_without_nan_final.csv')

In [12]:
print(len(p_features_without_nans["SubjectID"].unique()))

599